    <div class="col-sm-4">
    <%= form_with(model: Place) do |form| %>
      <input type="hidden" value="1" name="illustration_id">

        <div class="form-group">
          <%= form.text_field :place, id: :place_place, class: "form-control", placeholder: "Place" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.text_field :location, id: :place_location, class: "form-control", placeholder: "Location" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.text_field :used, id: :place_used, class: "form-control", value: Time.now.strftime("%m/%d/%Y")  %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Place</button>
        </div>
    </div>
    <% end %>
